@import url('https://fonts.googleapis.com/css?family=Roboto');
//base style
$base-font: 'Roboto';
$title-padding: 3em;
$c-w: #ffffff;
$color-aq: #00ffa1;

h1 {
  font-family: $base-font;
}
h2{
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
ul li{
  //list-style-type: none;
}
.flex-r0{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-c0{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-wrapp{
  flex-wrap: wrap;
}
.black-s{
  overflow: hidden;
  position: relative;
  color: $c-w;
  width: 100%;
  padding: 5em 0;
}
.white-s{
  width: 100%;
}
.mg-t{
  margin-top:3em ;
}
.pd{
  padding: 1em 0;
}
.pd input{
  outline: none;
}


//BANNER
.banner{
  position: relative;
}
.banner-img{
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.text-title{
  margin-bottom: 25em;
  width: 800px;
  max-width: 100%;
}
.text-show{
  color: $c-w;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.46);
  font-weight: bold;
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  word-wrap: break-word;
  letter-spacing: 2px;
  float: left;
}
.after:after{
  content: "|";
  color: $c-w;
}
.down{
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background: #000;
  color: $color-aq;
  border:2px solid $color-aq;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  bottom: 1em;
  outline: none;
}
.down:active, .down:focus{
  outline: none;
}
.down:hover{
  color: $c-w;
  background: $color-aq;
  border: 2px solid #000;
  transition: 1s;
}
//section about

//work-step
.black-s-wrapper{
  background: #222;
  width: 100%;
  margin-top: 110px;
}
.black-s-wrapper:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-top: 3em;
  border-style: solid;
  top: -109px;
  border-width: 31px 0 220px 2200px;
  border-color: transparent transparent #222;
}
.black-s-wrapper:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  bottom: -30px;
  border-width: 110px 1920px 0 0;
  border-color: #222 transparent transparent;
}
.work-content{
  width: 100%;
}
.form-group input{
  outline: none;
  background: $c-w;
}
.form-group input:active , .form-group:focus, .form-group{ outline: none;}

